/* Base file

Contains:

Variables
Mixins
color codes
Text sizes
Text styles etc

*/






/* Variables */

$maincolor: #333;

/* Button variable*/

$btncolor: red;
$btntextcolor: white;

// Link variables

$link-color: rgb(43, 56, 243);

