/* component 

Contains:

Reusable components
Buttons
Links
textareas
Other reusable components

*/


/* Import variables from base */
@import 'base';

// Button

button {
    background-color: $btncolor;
    color: $btntextcolor;
    border-radius: 3px;
    padding: 5px;
}



// Link

a {
    color: $link-color;
}



